*, body {
	padding: 0;
	margin: 0;
}

p {
	font-size: 20px;
}

html {
	background-color: #d9cc5b;
}

/********************Header***/

.Header_container {
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.Header {
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 4px solid black;
	background-color: aqua;
}

.Header_el {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.Header_el > p, .Header_el > input {
	display: inline-block;
	font-size: 20px;
}

#home_el {
	display: none;
}

img[src="img/Space_icon.png"], .Header_el > img {
	margin: 0 20px;
}

#add:hover, #home:hover, #filter:hover {
	cursor: pointer;
}

/****************Container***/

.Container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 100px 10%;
}

.Item {
	width: 200px;
	margin: 0 25px;
}

#poster_preview {
	border: 3px solid;
	width: 200px;
	height: 200px;
}

#remove_item {
	position: relative;
	top: -200px;
	left: 145px;
}

.Item > p {
	position: relative;
	top: -40px;
	text-align: center;
	font-size: 18px;
}

.Add_form {
	display: none;
	padding: 20px;
	width: 210px;
	border: 1px solid;
}

form > div:first-child {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form > div {
	margin: 10px 0;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Film_added {
	display: none;
	flex-direction: row;
	align-items: center;
}

#poster {
	width: 200px;
	height: 200px;
}

#remove_item {
	opacity: 0;
	z-index: 5;
}

#remove_item:hover {
	opacity: 0.7;
	cursor: pointer;
	box-shadow: 3px 3px 3px black;
}

.Filter {
	padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.Filter > div {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.Filter > div > label, .Filter > div > p {
	text-align: center;
	margin-bottom: 8px;
}

.Filter > div > p {
	margin-top: 8px;
}

.Filter_container {
	display: none;
	margin-top: 64px;
	border: 4px solid;
}

.Filter > div > button {
	margin: 8px 0;
}

.Movie_view {
	display: none;
}

.Movie {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.Intro {
	margin-right: 20px;
}

#send_comment, 
.My_comment > div > label,
.My_comment > div > input {
	font-size: 18px;
}

.Content > p, #comment_input_text {
	font-size: 20px;
	margin-bottom: 10px;
}

.My_comment {
	display: none;
	flex-direction: column;
	align-items: center;
}

.My_comment > div {
	margin: 15px 0;
}

#my_name {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#my_comment {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#comment_input_name {
	margin-left: 10px;
}

#send_comment {
	padding: 3px;
	margin: 15px 0;
	width: 200px;
}

hr {
	margin: 40px 0;
	height: 1.5px;
	background-color: #9e9e9e;
}

h2 {
	text-align: center;
}

#comment_input_text, #scenario_input {
	resize: none;
}

#my_rating > p {
	display: inline-block;
}

.Comment {
	display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    margin: 10px auto;
    width: 300px;
}

#my_comment_line {
	display: none;
}

@media (max-width: 360px) {
	div.contentblock {
		width: 360px;
	}

    .Header_el > p, .Header_el > img:first-child {
    	display: none;
    }

    .Filter_container {
    	margin: 0 auto;
    	width: 100%;
    }
}

@media (max-width: 560px) {
	.Header_el > p {
		display: none;
	}
}